<ion-view title="American Fork">


    <ion-content class="padding">
        <h1> </h1>

        <body>

            <ion-item a href="#/tab/yardsaleDetails" ng-repeat="yardInfo in americanfork | filter:filterFunction | orderBy: 'date' ">
                <div class="title"><h1>{{yardInfo.title}}</h1></div>
                <div class="date">Date: {{yardInfo.date}}</div>
                <div class="address">Address: {{yardInfo.address}}</div>
                <div class="photo"><img src="{{yardInfo.picture}}" ></div>
            </ion-item>





        </body>

    </ion-content>

</ion-view>