<ion-view title="Orem">


    <ion-content class="padding">
        <h1> </h1>

        <body>
        <ion-list>
            <ion-item a href="#/tab/yardsaleDetails" ng-repeat="yardInfo in orem  | filter:filterFunction | orderBy: 'date' ">
                <div class="title"><h1>{{yardInfo.title}}</h1></div>
                <div class="date">Date: {{yardInfo.date}}</div>
                <div class="address">Address: {{yardInfo.address}}</div>
            </ion-item>


        </ion-list>
        </body>

    </ion-content>

</ion-view>