<ion-view title="Orem">


    <ion-content class="padding">
        <h1> </h1>

        <body>
        <ion-list>
            <ion-item a href="#/tab/yardsaleDetails" ng-repeat="yardInfo in orem  | filter:saleOrder | orderBy: 'date' ">

                <div style="text-decoration:underline;"><h1>{{yardInfo.title}}</h1></div>
                <div class="photo" style = "PADDING-RIGHT: 5px; PADDING-TOP: 10px; float:left "><img src="{{yardInfo.picture}}" height="110" width="160"></div>
                <div style="PADDING-TOP: 7px;">Date:</div>
                <div class="date" style = " color:black;  font-size: 25px;">{{yardInfo.date}}</div><br>
                <div>Address: </div>
                <div class="address" style = "color:black;  font-size: 25px;">{{yardInfo.address}}</div>

            </ion-item>


        </ion-list>
        </body>

    </ion-content>

</ion-view>