<ion-view title="Provo">


    <ion-content class="padding">
        <h1> </h1>

        <body>
        <!-- Needs ng repeat-->
        <ion-list id="availableSales" ng-show="sales">
            <ion-item ng-repeat="yardInfo in sales" >
                <div class="title" a href="">{{yardInfo.title}}</div>
                <div class="address">{{yardInfo.address}}</div>
                <div> DELETE THIS LATER </div>
            </ion-item>


        </ion-list>

        </body>




    </ion-content>




</ion-view>
