<ion-view title="Provo">


    <ion-content class="padding">
        <h1> </h1>

        <body>
        <!-- Needs ng repeat-->

            <ion-item a href="#/tab/yardsaleDetails" ng-repeat="yardInfo in provo | filter:filterFunction | orderBy: 'date' " >
                <ul>
                <li><h1>{{yardInfo.title}}</h1></li>
                <li class="date">Date: {{yardInfo.date}}</li>
                <li class="address">Address: {{yardInfo.address}}</li>
                <li class="photo"><img src="{{yardInfo.picture}}" ></li>
                </ul>
            </ion-item>




        </body>




    </ion-content>




</ion-view>
